@import 'base';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
//@import '~normalize.css/normalize';
// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want

$main-margin: 15px auto;
$main-padding: 0px 15px;
$main-max-width: 760px;
$svg-width-height: 18px;
$min-width: 768px;

html {
  box-sizing: border-box;
}

html,
/*body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #f5f5f5;
  min-width:$min-width; 
}*/
body {
  margin: 0;
  padding: 0;
  min-width:$min-width; 
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.hidden {
  visibility: hidden;
  display: none;
}

.main {
  margin: $main-margin;
  padding: $main-padding;
  max-width: $main-max-width;
}

.icon-white {
  color: #FFF;
  display: inline-block;
}

[class^="pe-icon--"] {
  display: inline-block;
  fill: currentColor;
  /*if it has a parent with color set it can inherit from */
}

svg[class$="-18"] {
  width: $svg-width-height;
  height: $svg-width-height;
}

svg[class$="-24"] {
  width: $svg-width-height;
  height: $svg-width-height;
}

