@import 'base';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
//@import '~normalize.css/normalize';
// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want

$main-margin: 15px auto;
$main-padding: 0px 15px;
$main-max-width: 760px;
$svg-width-height: 18px;
$min-width: 768px;

html {
  box-sizing: border-box;
}

html,
/*body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #f5f5f5;
  min-width:$min-width; 
}*/
body {
  margin: 0;
  padding: 0;
  min-width:$min-width; 
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.hidden {
  visibility: hidden;
  display: none;
}

.main {
  margin: $main-margin;
  padding: $main-padding;
  max-width: $main-max-width;
}

.icon-white {
  color: #FFF;
  display: inline-block;
}

[class^="pe-icon--"] {
  display: inline-block;
  fill: currentColor;
  /*if it has a parent with color set it can inherit from */
}

svg[class$="-18"] {
  width: $svg-width-height;
  height: $svg-width-height;
}

svg[class$="-24"] {
  width: $svg-width-height;
  height: $svg-width-height;
}

[class^="icon-"] {
  display: inline-block !important;
}
.printBlock{
  width: 100%;
  text-align: right;
  padding-right: 25px;
  position: absolute;
  top: 75px;
}

@media print {
 html, body {
   display: none; 
 }
}
.zoomPDF{
      z-index: 1;
        left: 10px;
        top: 188px;
        position: absolute;
        width: 100px;
  }
  .pdf-fwr-pc-main {
    top:60px;
    float: left;
    width: 100%;
    /*height: 1000px;*/
    background-color: white;
    /*position:fixed;*/
    padding-top:0px !important;
	  margin-top: 10px;
  }
  .docViewer {
    margin-left: 9%;
    width: 1250px;
    height: 89.8%;
    background: #fff;
    padding-top:55px
  }
  .highlightText {
    z-index: 1;
    left: 10px;
    top: 100px;
    position: absolute;
  }
  .tocDiv{
    padding-left:25%;
    text-align: center;
    background: white;
    z-index: 2;
    width: 100%;
    top: 1000px;
    position: absolute;
  }
  .getTOC {
    z-index: 1;
    left: 10px;
    top: 150px;
    position: absolute;
  }
  .zoomPDF {
    z-index: 1;
      left: 10px;
      top: 188px;
      position: absolute;
      width: 100px;
  }
  .pdf-fwr-pc-right {
    width: 1200px;
    position: fixed;
    min-width: 1200px;
    height: 90%;
  }
  #frame {
   margin-top: 1px;
   height:100%;
  }
  .appBar {
    height: 60px;
    background-color: rgb(0, 126, 165);
    width: 100%;
    z-index: 1;
    position: fixed;
    box-shadow:0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  }
  .Heading {
    position: absolute;
    top: 15px;
    font-family: serif;
    color: white;
    font-size: 24px;
    margin-left: 25%;
    font-weight: bold;
  }
  
  .navigation {
    z-index:199 !important;
  }

  #pxe-viewer .book-container {
      margin-top: 66px;
  }
  .hotspot {
  position: absolute;
  }

  .hotspot .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #F2E9BD;
    color: #black;
    text-align: center;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    left: 100%;
    top: 30%;
    font-size: 13px;
    font-family: inherit;
  }

  .hotspot:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
 