// Demo styling

#bookshelf-demo-title {
  margin: 10px 0px 20px 20px;
}

#bookshelf-demo {
  margin-left: 20px;
}

// Component-specific styling
.book {
  display: inline-block;
  width: 220px;
  height: 320px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.33);
  padding: 0px;
  text-align: center;
  margin: 0px 20px 25px 0px;
  position: relative;
  a {
    text-decoration: none !important;
  }
  a.container {
    display: block;    
    height: 100%;
    &:hover .image {
      opacity: 0.7;
    }    
    .image {
      max-width: 170px;
      height: 200px;
      border: solid 1px #c7c7c7;
      margin-top: 20px;
    }
    .title {
      margin: 17px 35px 0px 16px;
      text-align: left;   
      color: #252525;
      font-family: "Open Sans";
      font-size: 14px;
      letter-spacing: -0.2px;
      font-weight: 400;
      height: 60px;
      overflow-y: hidden;
    }    
  }
  a.info {
    position: absolute;
    bottom: 56px;
    right: 16px;
    i {
      font-size: 18px;
      object-fit: contain;
      color: #b7bbbf;
    }
  }
}

.no-book-cover {
  .image {
    background-image: url(./img/ic-book-placeholder@2x.png);
    background-size: 59px 64px;
    background-position: center;
    background-repeat: no-repeat;    
    min-width: 170px;
    background-color: #ececec;
    display: inline-block;
  }
}
