// Demo styling

#bookshelf-demo-title {
  margin: 10px 0px 20px 20px;
}

#bookshelf-demo {
  margin: 0 8%;
}

// Component-specific styling
.bookshelf-body:after { 
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}
.book {
  display: inline-block;
  width: 220px;
  height: 320px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.33);
  padding: 0px;
  text-align: center;
  margin: 0px 0px 25px 0px;
  position: relative;
  float:left;
  a {
    text-decoration: none !important;
  }
  a.bookContainer {
    display: block;    
    height: 100%;
    &:hover .image {
      opacity: 0.7;
    }    
    .image {
      max-width: 170px;
      height: 200px;
      border: solid 1px #eaeaea;
      margin-top: 20px;
    }
    .title {
      margin: 17px 35px 0px 16px;
      text-align: left;   
      color: #252525;
      font-family: "Open Sans";
      font-size: 14px;
      letter-spacing: -0.2px;
      font-weight: 400;
      height: 60px;
      overflow-y: hidden;
    }    
  }
  a.info {
    position: absolute;
    bottom: 56px;
    right: 16px;
    background-image: url(./img/ic-info.svg);
    background-size: 18px 18px;
    background-position: center;
    background-repeat: no-repeat;
    width:18px;
    height:18px;
    i {
      font-size: 18px;
      object-fit: contain;
      color: #b7bbbf;
    }
  }
}

.no-book-cover {
  .image {
    background-image: url(./img/ic-book-placeholder.svg);
    background-size: 59px 64px;
    background-position: center;
    background-repeat: no-repeat;    
    min-width: 170px;
    max-width: 230px;
    background-color: #ececec;
    display: inline-block;
  }
}

.modal {
  font-family: "Open Sans";
  font-style: normal;
  font-stretch: normal;
  .cancelBtn {
    position: absolute;
    top: 19px;
    right: 19px;
    height: 18.7px;
    width: 18px;
    cursor: pointer;
    background-image: url(./img/ic-cancel.svg);
    background-size: 18px 18.7px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .image-container {
    display: inline-block;
    vertical-align: top;
    .image {
      max-width: 230px;
      height: 270px;
      border: solid 1px #c7c7c7;
    }
  }
  .meta-container {   
    width: 45%;
    margin: 3.65% 0% 0% 6.9%;
    display: inline-block;
    color: #000;
    font-family: "Open Sans";
    font-style: normal;
    font-stretch: normal; 
    .header {
      font-size: 11px;
      font-weight: 600;
      letter-spacing: -0.1px;
      color: #767676;
    }
    .body {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -0.2px;
      color: #252525;
    }
    .footer {
      font-size: 12px;
      font-weight: normal;
      letter-spacing: -0.1px;
      color: #252525;
    }
    .course-info {
      margin-top: 32px;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: -0.1px;
      color: #767676;
    }
  }
  .desc-container {
    margin: 52px 0 37px 0px;
    color: #252525;
    font-size: 14px;
    letter-spacing: -0.2px;
    font-family: "Open Sans";
    font-style: normal;
    font-stretch: normal;
  }
}
