/*******************************************************************************
 * PEARSON PROPRIETARY AND CONFIDENTIAL INFORMATION SUBJECT TO NDA
 *   
 *  *  Copyright © 2017 Pearson Education, Inc.
 *  *  All Rights Reserved.
 *  * 
 *  * NOTICE:  All information contained herein is, and remains
 *  * the property of Pearson Education, Inc.  The intellectual and technical concepts contained
 *  * herein are proprietary to Pearson Education, Inc. and may be covered by U.S. and Foreign Patents,
 *  * patent applications, and are protected by trade secret or copyright law.
 *  * Dissemination of this information, reproduction of this material, and copying or distribution of this software 
 *  * is strictly forbidden unless prior written permission is obtained from Pearson Education, Inc.
 *******************************************************************************/
@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;
}
@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
     -moz-box-shadow: $box-shadow;
      		box-shadow: $box-shadow;
}
.box-shadow { @include box-shadow(0px 1px 1px 0px rgba(0,0,0,0.27)); }
.drawerWrap{
	.tabCompwrapper {
		background: #fff;
		.bookTitleAndTabs {
			padding: 54px 0 10px;
			background: #005a70;
			@extend .box-shadow;
			.tabComp{
				//width: 99%;
				padding: 0 74px 8px;
				.tablabel {
				  color: #fff !important;
				  font-family: Open Sans !important;
				  font-size: 14px !important;
				  text-transform: none !important;
				  font-weight: normal !important;
				  font-style: normal !important;
				  font-stretch: normal !important;
				  &.active {
				  	font-weight: bold !important;
				  }
				  &.contentTab {
						width: 64px !important;
					  margin-right: 37px !important;
					}
					&.bookmarksTab {
						width: 74px !important;
					  margin-right: 37px !important;
					}
					&.notesTab {
						width: 42px !important;
					}
				}
			}
			.bookTitleSection {
				color: #fff;
				font-family: Open Sans;
				text-transform: capitalize;
				.title {
					padding: 0 29px 0px 22px;
					font-size: 28px;
					font-weight: 300;
					line-height: 1.75;
				}
				.author {
					padding: 7px 193.9px 78px 24px;
					font-size: 16px;
					color: #fff;
				    margin: 0;
				    font-weight: 400;
				    font-family: Open Sans !important;
				}
			}
			.bottomBar {
				height: 3px;
			  background: #19a6a4;
			  position: relative;
			  &.contentTab {
			  	left:74px;
			  	width:64px;
			  }
			  &.bookmarksTab {
			  	left:175px;
			  	width:79px;
			  }
			  &.notesTab {
			  	left:286px;
			  	width:41px;
			  }
			}
		}
	}
}
.bookmarkIcon, .back_rec, .drawerIcon, .prefIcon, .searchIcon{
	outline: none;
}
