//header
$prefIcon-height:18px;
$prefIcon-width:28px;
$prefCont-right: 50px;
$prefCont-top: 46px;
$bookmark-margin: 15px 15px;
$back_rec-width: 66px;
$back_rec-height: 64px;
$header-min-height: 64px;
$navUp-top: -66px;
$swipe-height: 85vh;
$header-top: 0px;
$header-min-width: 768px;
$padding-right: 30px;

.route--active {
  font-weight: bold;
  text-decoration: underline;
}
.active {
    color : #005a70 !important;
    font-weight: bold !important;
}

.prefIcon svg {
  height:$prefIcon-height;
  width:$prefIcon-width;
}
.preferences-container-eT1 {
  position: absolute;
  right: $prefCont-right;
  top: $prefCont-top;
  z-index: 10001;
}
.preferences-container {
  position: absolute;
  right: 10px;
  top: $prefCont-top;
  z-index: 10001;
}
.searchContainer {
  position: absolute;
  right: $prefCont-right;
  top: $prefCont-top;
  z-index: 10001;
}

.bookmarkIcon {
  float :left;
  margin: $bookmark-margin;
    
}
.moreIcon {
  float:right;
}
.back_rec {
  width: $back_rec-width;
  height: $back_rec-height;
  background-color: #004758;
  float: left;
}
.icon-white{
  padding-right: $padding-right;
}
////
/// Custom SCSS for component-specific styling goes here
////

#cite-book #viewer-container #viewer {
  line-height:normal;
}
.headerBar {
  min-height: $back_rec-height;
  min-width: $header-min-width; 
  -webkit-transition: all .25s;
  transition: all .25s;
  position: fixed;
  width:100%;
  z-index: 200;
  top: $header-top;
  line-height :normal;

}
.nav-up{
  top: $navUp-top;
}
.swipeviewStyle>div>div {
    height: $swipe-height;
}
#pxe-viewer{
  width:67.5%;
  margin-left:24%;
}
.book-container{
  width:675px !important;
}
.gotopage-wrapper {
    float:left;
    margin: 10px 15px;
    display: inline-block;
    padding: 4px 0 4px 10px;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 1px 0 3px 10px;
    color: #999;
}
.gotopage-wrapper input {
    max-width: 105px;
    width: auto;
    text-align: left;
    height: 23px;
    font-size: 14px;
    vertical-align: baseline;
    box-shadow: none;
    background-color: inherit;
    border: 0;
    color: #fff;
    width: 40px;
    padding: 0;
    margin: 0;
    outline: none !important;
}
.gotopage-wrapper .btn {
    line-height: 20px;
    margin-right: 2px;
}
.gotopage-wrapper .gotopage-button {
    margin: 0;
    padding: 0;
    background: 0 0;
    line-height: normal;
    text-shadow: none;
    border-radius: 0;
    border:0;
}

.gotopage-wrapper .btn{
  outline: none !important;
  color:inherit;
}
#pageNum::-webkit-input-placeholder {
  color:#fff;
}
.gotopage-wrapper .gotopage-button i.fa {
    font-size: 18px;
    margin: 0 8px;
    color: #fff;
    padding-top:2px;
    outline: none !important;
}