/*******************************************************************************
 * PEARSON PROPRIETARY AND CONFIDENTIAL INFORMATION SUBJECT TO NDA
 *
 *  *  Copyright � 2017 Pearson Education, Inc.
 *  *  All Rights Reserved.
 *  *
 *  * NOTICE:  All information contained herein is, and remains
 *  * the property of Pearson Education, Inc.  The intellectual and technical concepts contained
 *  * herein are proprietary to Pearson Education, Inc. and may be covered by U.S. and Foreign Patents,
 *  * patent applications, and are protected by trade secret or copyright law.
 *  * Dissemination of this information, reproduction of this material, and copying or distribution of this software
 *  * is strictly forbidden unless prior written permission is obtained from Pearson Education, Inc.
 *******************************************************************************/
//header
$prefIcon-height:18px;
$prefIcon-width:28px;
$prefCont-right: -26px;
$prefCont-top: 18px;
$headerHeight: 50px;
$header-min-height: 64px;
$navUp-top: -66px;
$swipe-height: 85vh;
$header-top: 0px;
$padding-right: 30px;
$white: #FFF;
$gray: #6a7070;
$blackGray: #1c1c1c;
$lightGray: #f2f2f2;
$borderBottom: 20px solid;
$triangleLeft: 166px;
$searchTriangleLeft: 285px;
$headerPadding: 15px 55px;

@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow:$top $left $blur $color;
  -moz-box-shadow:$top $left $blur $color;
  box-shadow:$top $left $blur $color;
}
@mixin transition($property, $duration) {
    -webkit-transition: $property $duration;
    -moz-transition: $property $duration;
    -ms-transition: $property $duration;
    -o-transition: $property $duration;
    transition: $property $duration;
}
.tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #F2E9BD;
  color: black;
  text-align: center;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  top: 30%;
  font-size: 13px;
  font-family: inherit;
  margin-left: -1.1%;
  margin-top: 2.2%;
}

.route--active {
  font-weight: bold;
  text-decoration: underline;
}
.active {
    color : #005a70 !important;
    font-weight: bold !important;
}

.prefIcon svg {
  height:$prefIcon-height;
  width:$prefIcon-width;
}
.preferences-container, .searchContainer, .preferences-container-eT1 {
  position: absolute !important;
  right: $prefCont-right !important;
  top: $prefCont-top !important;
  z-index: 10001 !important;
}

.bookmarkIcon {
  margin: -12px 0 0 15px;
  float: left;
  cursor: pointer;
}
.volumeIcon.icon-white {
  margin-right: 0;
}
.icon-white.volumeIcon svg {
  width: 24px;
}

.back_rec {
  background-color: transparent;
  float: left;
}
.icon-white{
  margin-right: $padding-right;
  :hover{
    cursor:pointer;
  }
}
.moreIcon{
  float:right;
  margin-top: -14px;
  width:24px;
  height:22px;
}
.moreIcon > div{
  right: 15px;
}
////
/// Custom SCSS for component-specific styling goes here
////

#cite-book #viewer-container #viewer {
  line-height:normal;
}

.nav-up{
  top: $navUp-top;
}
.swipeviewStyle>div>div {
    height: $swipe-height;
}
#pxe-viewer{
  width:67.5%;
  margin-left:24%;
}
.pxe-viewer{
  width:675px !important;
}
.book-container{
  width:675px !important;
}
.gotopage-wrapper {
    float:left;
    margin: 10px 15px;
    display: inline-block;
    padding: 4px 0 4px 10px;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 1px 0 3px 10px;
    color: #999;
}
.gotopage-wrapper input {
    max-width: 105px;
    width: auto;
    text-align: left;
    height: 23px;
    font-size: 14px;
    vertical-align: baseline;
    box-shadow: none;
    background-color: inherit;
    border: 0;
    color: #fff;
    width: 40px;
    padding: 0;
    margin: 0;
    outline: none !important;
}
.gotopage-wrapper .btn {
    line-height: 20px;
    margin-right: 2px;
}
.gotopage-wrapper .gotopage-button {
    margin: 0;
    padding: 0;
    background: 0 0;
    line-height: normal;
    text-shadow: none;
    border-radius: 0;
    border:0;
}

.gotopage-wrapper .btn{
  outline: none !important;
  color:inherit;
}
#pageNum::-webkit-input-placeholder {
  color:#fff;
}
.gotopage-wrapper .gotopage-button i.fa {
    font-size: 18px;
    margin: 0 8px;
    color: #fff;
    padding-top:2px;
    outline: none !important;
}
#toc .toc-header .header-text{
  word-break: break-all;
}

// Hearder style
.headerBar {
    min-height: 50px;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 200;
    top: 0;
    padding: 15px 55px !important;
    background: #fff;
    box-shadow: 0 3px 3px #e9e9e9;
    transition: all .25s;
    line-height :normal;
}

.headerBar h1 {
  padding-top: 0px !important
}

.headerBar.visible {
    display: block
}


.headerBar.chapterOpenerPg {
    background: transparent;
    position: absolute;
    box-shadow: none
}

.headerBar.chapterOpenerPg .icon-white,.headerBar.chapterOpenerPg h1 {
    color: #fff!important
}

.headerBar.chapterOpenerPg.fixHeader h1,.headerBar h1 {
    color: #1c1c1c!important
}

.headerBar.chapterOpenerPg.fixHeader .icon-white,.headerBar .icon-white {
    color: #6a7070!important
}

.headerBar .bookmarkIcon svg path,.headerBar.chapterOpenerPg.fixHeader .bookmarkIcon svg path {
    fill: $gray !important;
}

.headerBar.chapterOpenerPg .bookmarkIcon svg path {
    fill: #fff!important
}

.headerBar.chapterOpenerPg.fixHeader {
    background: #fff;
    position: fixed;
    box-shadow: 0 3px 3px #e9e9e9;
    transition: all .25s
}

.headerBar.chapterOpenerPg.fixHeader .PrefernceTriangleUp,.headerBar .PrefernceTriangleUp {
    border-bottom: 20px solid #f2f2f2;
    margin-left: 147px!important
}

.headerBar.chapterOpenerPg.fixHeader .triangle-up,.headerBar .triangle-up {
    border-bottom: 20px solid #f2f2f2;
    margin-left: 300px
}

.headerBar.chapterOpenerPg .PrefernceTriangleUp,.headerBar.chapterOpenerPg .triangle-up {
    border-bottom: 20px solid #fff
}
@media (max-width: 736px) {
  .headerBar {
    padding: 15px;
  }
  .headerBar h1 {
    margin-left: 15px !important;
  }
}
@media (max-width: 480px) {
  .headerBar h1 {
    margin-left: 15px !important;
  }
}

@media only screen and (min-width : 1600px){

  .drawerIcon {
    margin-left: 50px !important;
  }
  .prefIcon {
        margin-left: 50px !important;
  }
  .searchIcon {
    margin: 0 50px !important;
  }
  .headerBar.chapterOpenerPg.fixHeader .triangle-up, .headerBar .triangle-up {
    margin-left: 266px !important;
  }
  .headerBar.chapterOpenerPg.fixHeader .PrefernceTriangleUp, .headerBar .PrefernceTriangleUp {
    margin-left: 127px !important;
  }

}
