/*******************************************************************************
 * PEARSON PROPRIETARY AND CONFIDENTIAL INFORMATION SUBJECT TO NDA
 *   
 *  *  Copyright ï¿½ 2017 Pearson Education, Inc.
 *  *  All Rights Reserved.
 *  * 
 *  * NOTICE:  All information contained herein is, and remains
 *  * the property of Pearson Education, Inc.  The intellectual and technical concepts contained
 *  * herein are proprietary to Pearson Education, Inc. and may be covered by U.S. and Foreign Patents,
 *  * patent applications, and are protected by trade secret or copyright law.
 *  * Dissemination of this information, reproduction of this material, and copying or distribution of this software 
 *  * is strictly forbidden unless prior written permission is obtained from Pearson Education, Inc.
 *******************************************************************************/
$viewer-min-width: 768px;
//$viewer-top: 66px;
$cont-min-width: 675px;
$cont-padding-top: 20px;
$cont-padding-bottom: 85px;



.viewerContent {
  position: relative;
  //top: $viewer-top;
  background: #FFF;
  min-width: $viewer-min-width;
  .container {
		min-width: $cont-min-width;
		padding-top: $cont-padding-top;
		padding-bottom: $cont-padding-bottom;
	}
}
.fixedviewerContent{
	position: fixed;
	left:0;
	right:0;
}

.dashboardHeader {
	max-height: 50px;
}
