.App {
  text-align: center;

}
.App-header {
  width: 100%;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #000000;
  height: 50px;
  border-bottom: 4px solid;
  border-bottom-color: #0D65A6;
} 
img.pearson{
  margin-top: 15px;
  margin-left: 20px;
  float: left;
  width: 120px;
  height:20px;
}

img.tagline {
 margin-top: 15px;
 margin-right: 15px;
  float: right;
  width: 150px;
   height: 10px;
}