////
/// Custom SCSS for component-specific styling goes here
////
div#book-render-component{
    position: relative;
    outline: none;
}

.book-container{
    width: 100%;
    position: absolute;
    top: 60px;
}

.navigation {
  height: 65px;
  border-top: 1px solid #c7c7c7;
  padding: 1% 1.7%;
  line-height: normal;
  position: fixed;
  bottom: 0;
  background-color: #FFF;
  width: 100%;
  z-index:200;
  -webkit-transition: all .25s;
  transition: all .25s;
  .hide {
    visibility: hidden;
  }
  .section {
    object-fit: contain;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    color: #3e3e3e;
  }
  .currentSection {
    display: inline-block;
    width: 35%;
    text-align: center;
    margin-top: 12px;
    vertical-align: top;
    min-width: 215px;
    outline: none;
    visibility: hidden;
  }
  .nextSection {
    display: inline-block;
    color: #007fa3;
    width: 32%;
    padding-left: 4%;
    float: right;
    outline: none;
    cursor: pointer;
    .nextContent {
      width: 100%;
      float: left;
      min-width: 215px; 
      .wrapper {
        width: 88%;
        float: left;
        .content {
          width: 100%;
        }
        .label {
          color: #007fa3;
          font-size: 16px;
          text-align: left;
        }
      }
    }
  }
  .prevSection {
    display: inline-block;
    color: #007fa3;
    width: 32%;
    cursor: pointer;
    outline: none;
    .prevContent {
      width: 100%;
      float: left;
      min-width: 215px; 
      .wrapper {
        width: 88%;
        float: left;
        margin: 0 0 0 5.5%;
        .label {
          color: #007fa3;
          font-size: 16px;
          text-align: left;
        }
      }
    }
  }
  .content {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 95%;
  }
  .line {
    width: 2px;
    height: 30px;
    border: solid 1px #c7c7c7;
    display: inline-block;
    margin-top: 6px;
    vertical-align: top;
  }
}

.navigation.nav-down {
  bottom: -65px;
}
.goto-group {
  float:right;
}
.goto-group hr {
  border-bottom :none;
  margin : 4px;
}
.react-highlighted-text{
  color: yellow;
}