$viewer-min-width: 768px;
$cont-min-width: 675px;
$cont-padding-top: 20px;
$cont-padding-bottom: 85px;

.viewerContent {
  position: relative;
  background: #FFF;
  min-width: $viewer-min-width;
  padding-top: 20px;
  .container {
		min-width: $cont-min-width;
		padding-top: $cont-padding-top;
		padding-bottom: $cont-padding-bottom;
	}
}
.fixedviewerContent{
	position: fixed;
	left:0;
	right:0;
}
.printer-epl{
    width: 42px;
    height: 42px;
    cursor: pointer;
}