$viewer-min-width: 768px;
$viewer-top: 66px;
$cont-min-width: 675px;
$cont-padding-top: 20px;
$cont-padding-bottom: 85px;

.eT1viewerContent {
  position: relative;
  top: $viewer-top;
  background: #FFF;
  min-width: $viewer-min-width;
  .container {
    min-width: $cont-min-width;
    padding-top: $cont-padding-top;
    padding-bottom: $cont-padding-bottom;
  }
}
  .backLink  {
    padding: 24px 0 10px 27px;
    display: inline-block;
    a{
      color: #fff;
      font-weight: 600;
      text-decoration: none;  
    }

}
.centerCircularBar  {
position: relative;
  background: #FFF;
  min-width: $viewer-min-width;
  padding-top: 20px;
  .container {
    min-width: $cont-min-width;
    padding-top: $cont-padding-top;
    padding-bottom: $cont-padding-bottom;
  }
}
.hideViewerContent{
    visibility: hidden
}
.hotspotContent {
  position: absolute;
  margin-top:300px;
  margin-bottom:100px;
  left: 50%;
  right:50%;
  height:150px;
  width:150px;
  z-index : 100050;
}