$viewer-min-width: 768px;
$viewer-top: 66px;
$cont-min-width: 675px;
$cont-padding-top: 20px;
$cont-padding-bottom: 85px;

.eT1viewerContent {
  position: relative;
  top: $viewer-top;
  background: #FFF;
  min-width: $viewer-min-width;
  .container {
    min-width: $cont-min-width;
    padding-top: $cont-padding-top;
    padding-bottom: $cont-padding-bottom;
  }
}
  .backLink  {
    padding: 24px 0 10px 27px;
    display: inline-block;
    a{
      color: #fff;
      font-weight: 600;
      text-decoration: none;  
    }

}
.centerCircularBar {
position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -50px;
            width: 100px;
            height: 100px;
            }
.hideViewerContent{
    visibility: hidden
}
